<footer class="app-container__footer">
  <mat-toolbar class="app-container__header" color="primary">
    <div class="app-container__inner container">
      <div class="app-container__left">Link 1 | Link 2 | Link 3 | Link 4</div>
      <div class="app-container__right">
        <a href="#"
          ><img
            src="assets/images/twitter.svg"
            alt="twitter"
            class="app-container__social-icon"
        /></a>
        <a href="#"
          ><img
            src="assets/images/facebook.svg"
            alt="facebook"
            class="app-container__social-icon"
        /></a>
        <a href="#"
          ><img
            src="assets/images/instagram.svg"
            alt="instagram"
            class="app-container__social-icon"
        /></a>
        <a href="#"
          ><img
            src="assets/images/youtube.svg"
            alt="youtube"
            class="app-container__social-icon app-container__social-icon--position"
        /></a>
      </div>
    </div>
  </mat-toolbar>
</footer>
