.airports-list {
  margin-bottom:100px;
  &__card {
    margin: 5px auto;
    cursor: pointer;
    margin-bottom: 20px;
    padding-left: 0px;

    &-header {
      
    }

    &-title {
     
    }

    &-subtitle {
      
    }

    &-content {
      margin-left: 15px;
      
    }
  }

  &__text {

  }
}